@import "variable/Colors.module.scss";
@import "variable/font.module.scss";

.app-root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $MainFont;
  color: $MainTextColor;
  background-color: $MainBackground;
}

.app-content {
  max-width: 45em;
  padding: 1em;
  margin: 0 auto;
  word-wrap: break-word;
}
