@import "./variable/Colors.module.scss";
@import "./general.module.scss";

.footer {
  padding: 0.5em;
  margin: 0 3em;
  color: $SubTextColor;
  text-align: center;
  border-top: 1px dashed $SubTextColor;
}

.heading {
  display: inline-block;
  padding: 0.7em 2em 0.5em;
  font-size: 1.5em;
  font-weight: bold;
  line-height: 1em;
  color: $WhiteTextColor;

  background: $AccentBackground;

  @extend .terminal;

  .decorator {
    color: $SubTextColor;
  }
}

.subheading {
  margin-bottom: 0.25em;
  font-size: 0.9em;
  font-weight: bold;
  color: $SubTextColor;
  @extend .terminal;
}

.section-container {
  padding: 1em 1.5em;
  border-left: 2px solid $AccentBackground;
}

.subsection-container {
  margin-bottom: 1em;
  font-size: 1.2em;
  line-height: 1.25em;
}

.cursor {
  margin-left: 0.1em;
  border-left: 2px solid #777;
  animation: 1s step-start infinite blink;
}

@keyframes blink {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 0;
  }
}
