@import "./variable/Colors.module.scss";
@import "./variable/font.module.scss";

.greeting {
  text-align: center;

  .message {
    font-size: 1.25em;
    font-weight: bold;
    color: $SubTextColor;
  }
}

.nameplate {
  height: 12.5em;
  padding: 2em 0;

  .name-container {
    box-sizing: border-box;
    display: inline-flex;
    align-items: center;
    max-width: 20em;
    height: 100%;
    padding-left: 2em;
    text-align: left;
    vertical-align: top;
  }

  .name {
    padding-top: 1.5em;
  }

  .main-name {
    font-size: 3em;
    font-weight: 900;
    line-height: 1.5em;
  }
  .main-name::first-letter {
    font-size: 1.5em;
  }
  .sub-name {
    font-family: $TerminalFont;
    font-size: 0.8em;
    color: $SubTextColor;
  }
}
