$MainBackground: #eff2f5;
$AccentBackground: #3e4f63;
$MainTextColor: #2d2d2e;
$SubTextColor: #78788a;
$PrimaryAccentColor: #376dab;
$SecondaryAccentColor: #40b890;

$BlackBackground: #27272e;
$WhiteTextColor: #e9e9f2;
